h1 {
    color: rgb(227, 215, 192);
    font-size: 35px;
    padding: 150px 280px 10px 280px;
}

p {
    color: rgb(227, 215, 192);
    font-size: 30px;
    padding: 10px 400px;
}

.thanks {
    text-decoration: underline;
}