<div>
    <p>This is a website developed by <span>Md. Faiyaz Rizwee</span> in 2024. This is my first website. And it is
        designed for saving your contacts here. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quaerat
        nihil illo, animi soluta inventore autem facilis assumenda molestiae sint culpa dolores eum nesciunt ab id
        reprehenderit ut consequatur consequuntur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
        explicabo eveniet repellat laborum totam accusamus animi? Mollitia illum tenetur illo unde obcaecati deserunt
        eveniet.
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, accusantium minus. Nulla molestiae illum debitis
        consectetur ut ratione amet neque fugit reprehenderit, atque consequatur cupiditate incidunt iusto laudantium.
        Omnis, quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ut soluta, iste alias dolorem
        assumenda dignissimos reiciendis aspernatur aliquid dolor, modi nemo ipsum sapiente, fuga neque eligendi? Nihil,
        facilis itaque?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, omnis? Eius at asperiores nemo aliquam
        assumenda omnis reprehenderit incidunt expedita consequatur tempore blanditiis voluptate vero nobis voluptatum,
        deserunt eaque enim.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae est, totam deserunt, assumenda consequatur ab
        voluptatem molestias culpa itaque non eaque atque temporibus, optio sed quam mollitia reprehenderit! Distinctio,
        similique?Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus totam natus quo eos, exercitationem
        consequatur incidunt sed? Aperiam perferendis aut omnis debitis sit quisquam provident dolore nam tempora!
        Ipsam, delectus!
    </p>
    <h1>Thank you for visiting</h1>
</div>