<div class="main">
    <div class="header">
        <img src="../assets/contact-logo.png" alt="logo" class="logo" routerLink="home">
        <div class="subHeader">
            <p class="home" routerLink="home">Home</p>
            <p class="about" routerLink="about">About</p>
            <p class="help" routerLink="contactUs">Contact us</p>
        </div>
    </div>

    <div class="sidebar-container">
        @for (user of contacts; track user.id) {
        <div class="sidebar-contacts" [class.active]="userId && user.id === userId" (click)="showDetails(user.id)">
            <p>{{user.name}}</p>
            <p>{{user.phone}}</p>
        </div>
        }
        <button class="add-contacts-btn" (click)="openForm()">Add
            Contacts</button>
    </div>
    <div class="details-container">
        <router-outlet></router-outlet>
        <!-- @if (formActivated) {
        <app-form (sidebarRefreshData)="getAllUsers()" (refreshOnSave)="showDetails($event)" [userDetails]="userDetails"
            [operationType]="operationType" (refreshOnUpdate)="getAllUsers()"
            (detailsOfUpdatedContact)="showDetails($event)"></app-form>
        }
        @else {
        <app-details [userDetails]="userDetails" (refreshOnDelete)="getAllUsers()"
            (appearanceOfFormOnDelete)="openForm('add')" (appearanceOfFormOnUpdate)="openForm('update')"></app-details>
        } -->
    </div>
</div>